
.header-background{
  background-color: #4B0082 !important;
  color: #ffffff;
  padding:40px 20px 40px;
  border-radius: 10px;
}

main{
	background-color: #f7f7f7 !important;
	border-radius: 5px;
}

body{
	background-color: #000;
	font-size: 1.2em;
}


.dicas{
	color: #fff !important;
	background-color: #4B0082;
	border-radius: 10px;
	margin:20px;
	width: auto;
}

.pre{
	color: #fff;
}


.alert-info{
	background-color: #A020F0 !important;
	color: #ffffff !important;
	border-radius: 10px;
	border-color: #fff;
}


.hr-alert{
	background-color: #fff;
	height: 2px;
	border-color: #fff;
}

.hr-separa-conteudo{
	background-color: #4B0082;
	height: 2px;
	border-color: #fff;
}

.conteudo{
	margin-left: 10px;
}
